/* 
  .contactTable td, th {
    border: 1px solid;
    padding: 15px;
    text-align: left;
    /* background-color: #04AA6D;
    color: white; 
  }

  .tableHead th {
    background-color: #04AA6D;
    color: white;
  }

  .tableRow tr:hover {
    background-color: coral;
  } */